/* 
MainSite.css
Stylesheet of the main page
*/

/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  overflow: hidden;
}

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 1em;
  padding: 10px;
  background-color: #141414;
}

.top-container,
.chat-container,
.settings-container,
.tools-container,
.comment,
.answer {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

/* Header Styles */
.site-header {
  width: 100%;
  text-align: center;
  background-color: #3b1f2b;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #ff00ff;
  border-bottom: 2px solid #ff00ff;
}

.header-container {
  text-align: center;
  font-size: 1em;
  padding-bottom: 0.33em;
  font-weight: bold;
  color: rgb(188, 188, 188);
}

/* Chat Bubble Styles */
.comment,
.answer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.75em;
  padding: 0.75em;
  width: 90%;
  border: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

/* Container for the comment */
.comment {
  align-self: flex-start;
  background: linear-gradient(-45deg, #181818, #0f110c);
  border-radius: 0 20px 20px 20px;
}

/* Container for the answer */
.answer {
  align-self: flex-end;
  background: linear-gradient(90deg, #181818, #0f110c);
  border-radius: 20px 20px 0 20px;
}

.msg-top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-start;
  width: 100%;
}

.username,
.follow-role {
  font-size: 0.75em;
  padding: 0.3em;
  border-radius: 7px;
}

.username {
  flex: 2;
  /* background-color: #282828; */
  background: linear-gradient(120deg, #323232, #282828);
  text-align: center;
}

.follow-role {
  flex: 1;
  /* background-color: #d74e09; */
  background: linear-gradient(120deg, #fe9b69, #d74e09);
  text-align: center;
}

.comment-txt {
  padding-left: 0.33em;
}

/* Top Container Styles */
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #202020, #1a1a1a);
  width: 50rem;
  height: 6em;
  padding: 3em;
  margin-bottom: 1em;
  /* border: 2px solid #ffe66d; */
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.input {
  width: 18em;
  height: 2.5em;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #5e21b8;
  background-color: #28151d;
  color: #ffffff;
}

.input:focus {
  outline: none;
  border: 1px solid #7b41d2;
}

.button {
  width: 7em;
  height: 2.5em;
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
}

.button:hover {
  background: linear-gradient(120deg, #8340e8, #5e21b8);
  cursor: pointer;
}

.start {
  /* background-color: #6622cc; */
  background: linear-gradient(120deg, #8736ff, #6c26d4);
}

.stop {
  background-color: #ff0000;
}

/* Chat Container Styles */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.33em;
  width: 50rem;
  max-height: 60vh;
  padding: 1.5em 0.75em;
  /* background-color: #222222; */
  background: linear-gradient(180deg, #202020, #1a1a1a);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  /* border: 2px solid #ffe66d; */
}

.chat-container:empty {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Typing Indicator Styles */
.typing-indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f110c;
  border: 2px solid #3b1f2b;
  border-radius: 20px 20px 0 20px;
  width: 10%;
  align-self: flex-end;
}

.typing-indicator {
  height: 2em;
  color: #fff;
  font-size: 2em;
}

.typing-indicator::after {
  content: ".";
  animation: typing 1.75s steps(3, end) infinite;
}

@keyframes typing {
  0%,
  100% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
}
