/*
ModerationPanel.css
Stylesheet of the moderation page.
*/

/* Styling of the whole page */
.mod-panel-site {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1.33em;
  padding: 1.33em;
  background-color: #141414;
  overflow-y: auto;
}

.mod-comment-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  gap: 0.5em;
  height: fit-content;
  background-color: #2c2c2c;
}

.mod-comment-title {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #444444, #282828);
  border: 1px solid #868686;
  border-radius: 15px;
  width: 100%;
  padding: 0.33em;
}

/* holds fields for username, comment, follow role, submit */
.mod-comment-inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
  padding: 0.5em;
}

.mod-comment-inside input,
select {
  padding: 0.5em;
  width: 75%;
}

.mod-comment-inside button {
  padding: 0.5em;
}

.error {
  background-color: #ffcccc;
  color: #cc0000;
  text-align: center;
  width: 100%;
}
