/*
ModerationPanel.css
Stylesheet of the moderation page.
*/

/* Styling of the whole page */
.mod-panel-site {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 1.33em;
  padding: 1.33em;
  background: linear-gradient(180deg, #202020, #1a1a1a);
  overflow-y: auto;
  background-color: #141414;
}

.mod-comment-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
  gap: 0.5em;
  height: fit-content;
  background-color: #2c2c2c;
}

.mod-comment-title {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #202020, #1a1a1a);
  padding: 0.33em;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  text-wrap: nowrap;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .mod-panel-site {
    flex-direction: column;
  }

  .mod-queue-panel,
  .mod-comment-panel {
    flex: 0;
    height: fit-content;
  }
}

/* holds fields for username, comment, follow role, submit */
.mod-comment-inside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
  padding: 0.5em;
}

.mod-comment-inside input,
select {
  padding: 0.5em;
  width: 75%;
}

.mod-comment-inside button {
  padding: 0.5em;
}

.error {
  background-color: #ffcccc;
  color: #cc0000;
  text-align: center;
  width: 100%;
}
